hr {
    margin: 0;
}

.rodapé {

    background-color: var(--cinza-fundo);
}

.rodapé__titulo {
    color: black;
}

.lista-rodapé {
    display: none;
}


/* código omitido */

@media screen and (min-width: 1024px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
        padding-top: 3.5em;
    }

    .lista-rodapé {
        display: block;
    }

    .rodapé__titulo {
        font-size: 24px;
    }

    .lista-rodapé__titulo {
        font-size: 14px;
        color: #858585;
        text-transform: uppercase;
        margin-bottom: 1.5em;
    }

    .lista-rodapé__item {
        display: flex;
        align-items: center;
        margin-left: 0.6em 0;
        font-size: 14px;
        padding: 0.6em 0;
    }

    .lista-rodapé__link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6em;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodapé {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodapé {
        padding: 3em 0;
    }
}